
.guten-tab-wrapper.is-style-pills .guten-tabs-nav .guten-tab-item .guten-tab-link {
	background-color: #94a3b8;
	padding: 12px;
	color: #fff;
	border-radius: 4px;
	margin-right: 10px;
}

.guten-tab-wrapper.is-style-pills .guten-tabs-nav .guten-tab-item .guten-tab-link.is-active {
	background-color: #1d4ed8;
}

.guten-tabs-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.guten-tabs-nav .guten-tab-item .guten-tab-link {
	padding: 12px;
	font-size: 14px;
	line-height: 20px;
}

.guten-tab-link.is-active {
	color: #1d4ed8;
	border-bottom: 2px solid #1d4ed8;
}

.guten-tab-link:hover {
	color: #1d4ed8;
}

.guten-tab-panel {
	padding-top: 16px;
}
